* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: roboto;
}

h1 {
    font-size: 40px;
    color:rgb(24, 63, 37);
}

body { 
    background-color: rgb(24, 63, 37);
}
.fcontainer {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1024px;
    height: auto;
    margin: 0 auto;
    background-color: white;
}
.bcontainer {
    display: block;
}

header ul, header ul li a {
    list-style: none;
    text-decoration: none;
}

header {
    padding: 10px 3vw;
    border-bottom: 1px solid black;
}

#sobre {
    padding: 30px 20px;
    justify-content: flex-start;
}
#sobre img {
    width: 55%;
    margin-right: 15px;
    margin-right: 10px;
    border-radius: 10px;
}

#sobre h1, #produtos h1 {
    font-size: 30px;
}

#sobre h2 {
    font-size: 20px;
}

#produtos {
    padding: 30px 20px;
}

.gcontainer {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-gap: 1%;
}

#produto {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 8px;
    position: relative;
}

#produtos h1 {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    width: 130px;
}
a:hover {
    font-weight: bold;
}

#produto img {
    height: 150px;
    padding-bottom: 15px;
}

#produto .fcontainer {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

}

#produto:hover {
    background-color: rgb(216, 216, 216);
    animation: ease-in;
    animation-duration: 100ms;
}

#produto .fcontainer {
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    width: 90%;
    height: 3em;
    border-radius: 4px;
    margin-top: 10px;
    background-color: rgb(82, 216, 82);
    color: white;
}

h1:hover, h2:hover, h3:hover, p:hover {
    cursor: default;
}

button:hover {
    cursor: pointer;
    background-color: rgb(48, 131, 48);
}

p {
    margin: 10px 0;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1023px) {

    .gcontainer {
        display: grid;
        grid-template-columns: repeat(3, 32%);
        grid-gap: 1%;
    }
    .container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-color: white;
    }
}

@media screen and (max-width:640px) {

    .gcontainer {
        display: block;
    }

    #produto {
        margin-bottom: 30px;
    }

    #sobre {
        display:block;
    }

    #sobre img {
        width: 100%;
    }

    .container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-color: white;
    }
}