* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    background-color: rgba(103, 168, 42, 0.575);
    margin-bottom: 40px;
}
h1 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(25, 25, 71, 0.945);
}
.container {
    justify-content: center;
    text-align: center;
    display: block;
}
form  input {
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}

button {
    font-size: 30px;
    padding: 5px;
    background-color: rgb(27, 4, 3);
    color: rgba(255, 255, 255, 0.945);
    border-radius: 10px;
    margin-bottom: 20px;
}
.acerto {
    color:green;
}
.erro {
    color: red;
}
h2 {
    font-size: 30px;
}