* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 1336px;
    margin: 0 auto;
}
.articles {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
section article {
    width: 30%;
}
body > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(194, 10, 10);
    color:aliceblue;
}
body > header li {
    display: inline;
    margin-right: 10px;
    font-size: 26px;
}
header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
.container img {
    height:180px;
    border-radius: 10px;
}
.articles h3{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}
.container h2 {
    color:black;
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section {
    padding-top: 16px;
    padding-bottom: 16px;
}
.articles a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px;


}
.articles a:hover {
    text-decoration: underline;
}
.articles h3,
.articles header,
.articles p {
    margin-bottom: 16px;
}
h1 {
    font-size: 60px;
}
#esportes{
    background-color: rgb(161, 211, 91);
}
#esportes a{
    background-color:green ;
}
#economia{
    background-color: rgb(243, 238, 163);
}
#economia a{
    background-color:rgb(185, 175, 33) ;
}
#literatura{
    background-color: rgb(114, 133, 199);
}
#literatura a{
    background-color:rgb(22, 19, 66) ;
}
#series{
    background-color: rgb(245, 116, 65);
}
#series a{
    background-color:rgb(129, 17, 17) ;
}
